<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>

    <!-- DaisyUI & TailwindCSS -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>


</head>
<body hx-headers='{"X-CSRF-TOKEN": "{{ csrf_token }}"}'>

    <header class="container mt-4">
        <h1>To-Do List</h1>
    </header>

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container mt-4">
        <p>&copy; 2025 To-Do List</p>
    </footer>
    
</body>
</html>